---
// src/pages/blog/[page].astro
import { fetchPosts, fetchTotalPostCount, fetchCategories, fetchTags } from "@/utils/fetchPosts";
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { Base } from "@/layouts/Base.astro";

const { page } = Astro.params;
const currentPage = parseInt(page) || 1;
const postsPerPage = 6;

const posts = await fetchPosts(currentPage, postsPerPage);
const totalPosts = await fetchTotalPostCount();
const totalPages = Math.ceil(totalPosts / postsPerPage);

const categories = await fetchCategories();
const tags = await fetchTags();

// Menangani kasus jika halaman melebihi batas
if (currentPage > totalPages) {
  // Arahkan ke halaman 404 yang sudah disediakan
  return Astro.redirect('/404');
}
---

<Base title="Blog">
  <PageHeader title="Artikel Terbaru" />
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- Posts -->
        <div class="lg:col-8">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {
              posts.map((post) => (
                <BlogCard data={{
                  title: post.title.rendered,
                  excerpt: post.excerpt.rendered,
                  slug: post.slug,
                  image: post._embedded?.['wp:featuredmedia']?.[0]?.source_url,
                  date: post.date,
                }} />
              ))
            }
          </div>
          <Pagination section="blog" currentPage={currentPage} totalPages={totalPages} />
        </div>

        <!-- Sidebar -->
        <PostSidebar categories={categories} tags={tags} />
      </div>
    </div>
  </section>
</Base>