---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { fetchCategories } from "@/utils/fetchPosts";

const categories = await fetchCategories();
---

<Base title="Semua Kategori">
  <PageHeader title="Semua Kategori" />
  <section class="section">
    <div class="container">
      <div class="text-center">
        <ul class="flex flex-wrap justify-center gap-3">
          {
            categories.map((category) => (
              <li>
                <a
                  href={`/kategori/${category.slug}`}
                  class="inline-block rounded bg-light px-4 py-2 text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark hover:bg-primary hover:text-white transition"
                >
                  {category.name}
                  <span class="ml-2 rounded bg-body px-2 py-0.5 text-sm dark:bg-darkmode-body">
                    {category.count}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Base>